/*задний план*/
html {
  background-image: url(novifial.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body {
    width: 1800px;
    }



/*ОСНОВНОЙ ТЕКСТ*/
/*padding - это внутренние отступы (читать по часовой стрелке - вверх, вправо, вниз, влево)*/
.page {
    padding: 120px 0px 30px 0px;
    }

.page_section {
    padding: 45px;
    margin: 0px 80px 0px 70px;
    }

/*background-color - это цвет фона этого элемента*/
.page_section_1 {
    background-color: #DCDCDC;
    border-width: 5px;
    width: 1000px;
    margin: 0px 0px 0px 60px;
    left: 60px;
    min-width: 700px;
    }

.start_page {
    display:flex;
    justify-content: flex-start;
    }


    .page_slogan {
        background-color: none;
        font-size: 55px;
        font-family: 'Arial', 'Verdana', sans-serif;
        width: 400px;
        margin: 160px 160px 160px 80px;
        font-weight: 900;
        }

.page_section_2 {
    background-color: white;
    text-align: center;
    }

.page_section_3 {
    background-color: green;
    min-width: 700px;
    text-align: center;
    }



/*margin - это внешние отступы элемента (читать по часовой)*/
.page_title {
    font-size: 40 px;
    margin: 0px 0px 20px 0px;
    }

.page_text {
    align: center;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    }

text_1 {
    padding: 0px 0px 0px 160px;
    width: 1200px;
}


.page_subtitle {
    font-size: 40 px;
    margin: 0px 0px 20px 0px;
    font-family: 'Arial', 'Verdana', sans-serif;
    }

page_subtitle_2 {
    margin: 0px 0px -190px;
    color: white;
    z-index: 1;
    }




/*ШАПКА*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    border: 1px black;
    }

.header_container {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    text-align: center;
     font-size: 17px;
     font-family: 'Arial', 'Verdana', sans-serif;
     font-weight: 550;
    }

.header_logo {
    z-index: 15;
    position: relative;
    width: 140px;
    margin: 0px 0px 0px -30px;
    }

.language_logo {
    margin: 11px 0px 0px 2px;
    width: 30px;
    height: 30px;
    }

.language {
    display: flex;
    }
/*----------------------------------------------------*/



/*dелаем флекс контейнер из меню list*/
.menu_list {
    display: flex;
    align-items: center;
    }

.menu_list > dt {
    padding: 10px 0;
    position: relative;
    margin: 0px 20px 0px 20px;
    }

.menu_link {
    color: black;
    font-size: 18px;
    text-decoration: none;
    }
/*---------------------------------------------------------------------*/



/*эффект при наведении*/
.menu_link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
    }

.menu_link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height 2px;
    background-color: #D2691E;
    transition: width 0.5s;
    }

.menu_sublink:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
    }

.menu_sublink:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height 2px;
    background-color: white;
    transition: width 0.5s;
    }

.menu_sublist {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: black;
    padding: 15px;
    min-width: 200px;
    }

.menu_sublist li {
    margin: 0px 0px 10px 0px;
    }

.menu_sublink {
    color: white;
    text-decoration: none;
    }
/*---------------------------------------------------------*/



/*добавляем действия в этот мертвый мир (всплывающее меню)*/
.menu_sublist {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    }

.menu_list > dt:hover .menu_sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
    }



/*Делаем "бургер"*/
.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    left: 10px;
    display: none;
    z-index: 110;
    }

@media (max-width: 768px) {
    .burger {
    display: block;
    }
    .start_page {

    }
}

.burger_menu {
    position: fixed;
    top: -17px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2d8d8;
    z-index: 1;
    display: none;
}



.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
    }

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
    }

.burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

.burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    }
/*---------------------------------------------------------------------------*/



/*-----------------ВИДЖЕТЫ ВИДЖЕТЫ ВИДЖЕТЫ-------------*/
.page_text_1 {
    justify-content: flex-start;
    min-width: 400px;
    border-width: 5px;
    }

.vidgets_1 {
    display: flex;
    padding: 0px 0px 0px 160px;
    }

.vidgets_2 {
    display: flex;
    }

.Glance {
    width: 243px;
    margin: 0px 7px 0px 0px;
    }

.Purpose {
    width: 499px;
    }

.Projects {
    width: 430px;
    margin: 7px 7px 0px -27px;
    }

.vidget_description {
     text-align: center;
     font-size: 17px;
     font-family: 'Arial', 'Verdana', sans-serif;
     font-weight: 700;
     padding: 10px 0px 10px 0px;
     background-color: #D2691E;
     position: relative;
     top: 0px;
    }

.description_1 {
    margin: -7px 0px 0px 0px;
    max-width: 243px;
    }

.description_2 {
    margin: -7px 0px 0px 0px;
    max-width: 499px;
    }

.description_3 {
    margin: -7px 0px 0px -27px;
    max-width: 430px;
    }

.vidget_link {
    text-decoration: none;
    color: white;
    }